<html>
<style type="text/css">
    .style1 {
        font-family: Arial, Helvetica, sans-serif
    }
    .saludo {
        border-radius:5%;
        background-color: transparent;
        box-shadow: 0px 0px 10px 0px rgba(29, 126, 182, 0.959);
        display:flex;
        justify-content:center;
        text-align:center;
        padding:20px;
    }
</style>

<body>
<p><img src="cid:logo_plai" width="267" height="96"><br>
    <br>
<div class="saludo">
    <span class="style1">¡Hola!<Strong> ${nombre} ${apellido} </Strong></span>
</div>
<br>
    <span class="style1"> <Strong>Bienvenido(a)</Strong>, tu registro se completó exitosamente.</span>
<br>
</p>
<ul class="style1">
    <p> <span>El torneo se llevará a cabo en dos etapas:</span></p>
    <li><strong>Primera etapa: </strong></li>
    <p>Del 9 al 11 de noviembre, será en una batalla individual.
    <li><strong>Segunda etapa: </strong></li>
    <p>Del 16 al 18 de noviembre, será en una batalla en equipo. <br><br> Solo los competidores con los puntajes más altos de la primera etapa pasarán a la segunda etapa.</span>
</ul>
<p>
<ol class="style1">
    <p> <span>Te llegarán dos correos adicionales:</span> </p>
    <li>Para la activación de tu cuenta.</li><br>
    <li>Te será informada la fecha y la hora de la batalla en la que participarás.</li>
</ol>
</p>
    <span class="style1">Saludos.</span>
<br>
<br>

</body>
</html>