<html>
<style type="text/css">
    .style1 {
        font-family: Arial, Helvetica, sans-serif
    }
</style>

<body>
<p><img src="cid:logo_plai" width="267" height="96"><br>
    <br>
    <span class="style1">Hola se ${nombre}. Se ha creado una nueva cuenta para ti .</span>
</p>
<p>
    <span class="style1">Tu cuenta está desactivada así que aún no puedes acceder. El siguiente paso es crear tu constraseña.</span>
<p>
<p>
    <span class="style1">Accede a <a href="${baseUrl}/registro?token=${token}">este enlace</a> para crear tu contraseña y activar tu cuenta.</span>
<p>
    <br>
    <span class="style1">Saludos</span>
    <br>
    <br>
</p>
</body>
</html>